.forgot-password {
  height: 100%;
  background-color: #1db79d;
}

.forgot-password__container {
  max-width: 1280px;
  margin: auto;
  min-height: 100%;
  background-color: #1db79d;
  position: relative;
  display: flex;
  align-items: center;
}

.forgot-password__content {
  position: relative;
  height: 100% !important;
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto;
  font-family: San Francisco Regular;
}

.forgot-password__form-header {
  width: 310px;
  transform: translateX(-5px);
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 42px;
  /*color: rgba(255, 255, 255, 0.5);*/
  color: #fff;
  font-family: San Francisco Thin;
}

.forgot-password__task {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
  /*width: 236px;*/
  width: 80%;
  margin: auto;
  padding-top: 8px;
  text-align: center;
}

.forgot-password__form {

}

.forgot-password__input {
  margin-top: 16px;
  height: 50px;
  margin-bottom: 10px;
}

.forgot-password__submit {
  margin-top: 56px;
  text-align: center;
}

.forgot-password__submit button {
  margin: auto;
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #1db79d;
  font-size: 14px;
  font-family: San Francisco Medium;
}

.forgot-password__submitted,
.forgot-password__submitted:hover {
  color: rgba(19, 145, 124, 0.5) !important;
  background-color: #fff !important;
}

.forgot-password__submit button:active,
.forgot-password__submit button:focus {
  outline: none;
}

.forgot-password__submit button:hover {
  background-color: #1db79d;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.forgot-password__form-footer {
  letter-spacing: 0.5px;
  width: 81%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.forgot-password__form-footer > a {
  color: #fff;
}

.restore-password__form-header {
  width: 350px;
  transform: translateX(-25px);
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.5);
  font-family: San Francisco Thin;
}

.restore-password__success {
  position: absolute;
  top: 70px;
  text-align: center;
}

.restore-password__success_text {
  display: flex;
  height: 62px;
  background-color: #1aa48d;
  border-radius: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px 0 30px;
}

.restore-password__success_text > div:first-child {
  display: flex;
  flex: 0.2;
  text-align: right;
}

.restore-password__success_text > div:last-child {
  display: flex;
  flex: 0.6;
  color: #fff;
}

.restore-password__success a {
  
}

.restore-password__success button {
  width: 190px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  color: #1db79d;
  border: none;
  margin-top: 40px;
}

.restore-password__success button:hover {
  cursor: pointer;
}